body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    background-color: #FFFFFF;
}
p{
    font-weight:0;
}

main{
    
}
 /* home area style  */
.container{
    background-color: #2D25A0;
    display:flex;
    justify-content: center;
}
.home-area{
    display: flex;
    justify-content: center;
    padding:70px;
    width:1146px;
    margin-left:150px;
}

.right-side-images{
    width:556px;
    height:438px;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:485px;
    height: 230px;
    margin-right:108px;
 
}
.left-side h1{
    font-size: 60px; 
    color: #FFFFFF;
    margin-bottom: 0;
}

.button{
    width:168px;
    padding:7px 0px;
    background-color:#E02C6D;
    border:none;
}
.button a{
    text-decoration: none;
    font-size: 16px;
    color:#FFFFFF;
} 
.button:hover{
    color:#2D25A0;
    transform: rotate(360deg) scale(1.1);
    transition: 0.5s ease-in-out;
    background-color: brown;
    color:
}

/* player area style  */
.players-container{
    background-color: #FFFFFF;
}
.player-image{
    width:330px;
    height:256px;
    margin:0px;
    padding:0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;;
}
.player-area{
    width:1080px;
    background-color: #FFFFFF;
    margin:70px 30px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    width:330px;
    height:474px;
    box-shadow: 10px 10px 70px #e7e4e4;
}
/* sponsors-area  */
.sponsor-image{
    width: 200px;
}
.container-sponsors{
    background-color: #F2F0F0;
    box-shadow: 10px 10px 20px #FFFFFF;
}
.sponsors-title{
    display:flex;
    justify-content: center;
    color:#4D4A79;
    font-size:30px;
    font-weight:bold;
}
.sponsors{
    display:flex;
    align-items: center;
    
}
.sponsor{
    margin-right:20px;
}

/* footer area  */
.footer-area{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    width: 483.87px;
    height: 110px;
}
.social-icons .fab{
    font-size:25px;
    align-items: center;
    margin-left:14px;
    color:#969BAB;
    background-color: #E7E7E8;
    padding:15px;
    border-radius: 50%;
}
.Subscribe{
    margin:40px;
    box-shadow: 10px 10px 60px #969BAB;
    text-align: center;
    padding:10px;
    background-color: #E7E7E8;
}
input{
    padding:5px;
    margin-bottom:10px;
    border:none;
    color:#fff;
}
.submit{
    background-color: red;
    border-radius: 2px;
}
/* copy right area style  */
.copyright-container{
    background-color: #FFF;
}
.copyright{
    
}